<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Component library</title>
</head>
<body>
    <h1>Dipen's component library</h1>
    <p>I am attending neog.camp and I want to make a library which would make all my projects look good and consistent</p>
    <hr/>
    <h2>@typography</h2>

    <h1>This is the biggest heading</h1>
    <h2>This is the second biggest</h2>
    <p>Let me show you the normal text. This is free flowing and will wrap at the end like a paragraph.</p>
    <small>This is relatively smaller text</small>
    
    <h2>@containers</h2>

    <h3>Fluid containers</h3>
    <div class="container">This is a fluid container and it will go till the end of the page</div>

    <h3>Center container</h3>
    <div class="container container-center">This is a centered contaniner and it will go till the specified width</div>

    <h2>@Links</h2>
    <a href="/" class="link primary-link">Primary Link</a>
    <a href="/" class="link secondary-link">Secondary Link</a>

    <hr>

    <h2>@lists</h2>
    <h3>Unordered list</h3>
    <p>This list will not have bullets</p>
    <ul class="list-non-bullet">
         <li>Item one</li>
         <li>Item two</li>
         <li>Item three</li>
    </ul>

    <h3>Unordered inline list</h3> 
    <ul class="list-non-bullet">
        <li class="list-item-inline">Inline Item one</li>
        <li class="list-item-inline">Inline Item two</li>
        <li class="list-item-inline">Inline Item three</li>
    </ul>

    <h3>Reverse ordered list</h3>
    <ol reversed>
        <li>milk</li>
        <li>Chocolate</li>
        <li>bread</li>
    </ol>

    <hr>

    <h2>@nav</h2>
    <nav class="navigation container">
        <div class="nav-brand">iAmBrand</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline"><a href="/" class="link link-active">Home</a></li>
            <li class="list-item-inline"><a href="/" class="link">Products</a></li>
            <li class="list-item-inline"><a href="/" class="link">About</a></li>
        </ul>

    </nav>

    <h2>Header</h2>
    <header class="hero">
        <img class="hero-img" src="./images/programming-image.svg" />
        <h1 class="hero-heading">Dipen Chavda the <span style="color : var(--primary-color)">Web Developer</span></h1>
    </header>

    <hr>
    <h2>@section</h2>
    <section class="section">
        <div class="container container-center">
            <h1>White section</h1>
            <p>Batman[a] is a superhero who appears in American comic books published by DC Comics. The character was created by artist Bob Kane and writer Bill Finger, and debuted in the 27th issue of the comic book Detective Comics on March 30, 1939. In the DC Universe continuity, Batman is the alias of Bruce Wayne, a wealthy American playboy, philanthropist, and industrialist who resides in Gotham City. Batman's origin story features him swearing vengeance against criminals after witnessing the murder of his parents Thomas and Martha, a vendetta tempered with the ideal of justice. He trains himself physically and intellectually, crafts a bat-inspired persona, and monitors the Gotham streets at night.</p>
        </div>
    </section>
    <section class="section ow">
        <div class="container container-center">
            <h1>off white section</h1>
            <p>Batman[a] is a superhero who appears in American comic books published by DC Comics. The character was created by artist Bob Kane and writer Bill Finger, and debuted in the 27th issue of the comic book Detective Comics on March 30, 1939. In the DC Universe continuity, Batman is the alias of Bruce Wayne, a wealthy American playboy, philanthropist, and industrialist who resides in Gotham City. Batman's origin story features him swearing vengeance against criminals after witnessing the murder of his parents Thomas and Martha, a vendetta tempered with the ideal of justice. He trains himself physically and intellectually, crafts a bat-inspired persona, and monitors the Gotham streets at night.</p>
        </div>   
    </section>

    <hr>

    <h2>@footer</h2>
    <footer class="footer">
        <div class="footer-header">Some small heading inside footer</div>
        <ul class="social-links list-non-bullet">
            <li class="list-item-inline"><a href="/" class="link">Socialone</a></li>
            <li class="list-item-inline"><a href="/" class="link">Socialtwo</a></li>
            <li class="list-item-inline"><a href="/" class="link">Socialthree</a></li>
        </ul>
    </footer>
</body>
</html>